*{
    margin: 0px;
    padding: 0px;
}

h1{
    width: 200px;
    color: #e0e1dd;
    background-color: #0d1b2a;
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-left: 500px;
    border: none;
    border-radius: 1rem;
}

body{
    background-color: #e0e1dd;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    color: #b0413e;
    background-color: #415a77;
    font-size: 8vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    color: #e0e1dd;
    background-color: #0d1b2a;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.message-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.new-game{
    padding: 1rem;
    font-size: 1.25rem;
    color: #e0e1dd;
    background-color: #0d1b2a;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#message{
    color: #1b263b;
    font-size: 8vmin;
}
.hide{
    display: none;
}